@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

/* Colour Theme
#5F6368
#DEE1E6
#F1F3F4
#BABCBE
#535353
#202124
*/

body {
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom */

nav {
  height: 150px; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: #F1F3F4;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.nav-Links {
  width: 90%;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.content {
  background: white;
  min-height: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 150px; /* Stay at the top */
  left: 0;
  width: 100%;
  color: black;
}

.nav-Logo {
  padding: 5px;
  width: 140px;
}

/* nav button */

.nav-Button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #202124;
  margin: 20px 20px 20px 20px;
  color: #202124;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #202124;
  text-decoration: none;
  letter-spacing: 1px;
}

#nav-Button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#nav-Button p {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#nav-Button:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#nav-Button:hover p {
  color: #202124;
}
